{% extends 'base.html' %}
#codigo para estender uma pagina html base
#inicio do bloco de condigo , indicado na pagina html base
{% block conteudo %}
<h2>Integrando flask em html</h2>
<hr>
<!--<h3>Inserindo variaveis simples no flask</h3>
<br>
Nome={{nome}}
Idade={{idade}}
<hr>
<h3>Python lista sem for</h3>
<br>
<ol>
    <li>{{feira[0]}}</li>
    <li>{{feira[1]}}</li>
    <li>{{feira[2]}}</li>
    <li>{{feira[3]}}</li>
</ol>
<hr>
<h3>primeiro for com lista</h3>
<br>
<ol>
    {% for item in frutas %}
         <li>{{item}}</li>
    {% endfor %}
</ol>
<hr>
<h3>Segundo for com dicionario e tag details</h3>
<br>
    {% for ITchave, ITvalor in notas.items() %}
         <details>
             <summary>{{ITchave}}</summary>
             <p>{{ITvalor}}</p>
         </details>
    {% endfor %}
<hr>
-->
<h3>Lista do form frutas</h3>
<br>
<ul class="list-group">
    {% for item in fruta2 %}
         <li class="list-group-item">{{item}}</li>
    {% endfor %}
</ul>
<hr>
<h3>Envio de dados atravez de formularios</h3>
<form action="{{url_for('princ')}}" method="POST">
    <label>Frutas</label>
    <input class="form-control" type="text" name="input_form" id="exemploFruta" placeholder="Digite o nome de uma fruta">
    <button class="btn btn-primary">Adicionar</button>
</form>
<br>
{% endblock conteudo %} #Indica o fim do bloco de codigo que sera inserido na pagina html base
